<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Page</title>
</head>
<body style="width: 90%; margin: 0 auto">

<div id="header">
    <h1>Logo</h1>
    <div id="nav" style="background-color: #efefef; padding: 0.5em 0; margin: 1%;">
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="display: inline; padding: 0.5em;"><a href="">Home</a></li>
            <li style="display: inline; padding: 0.5em;"><a href="">Products</a></li>
            <li style="display: inline; padding: 0.5em;"><a href="">Services</a></li>
            <li style="display: inline; padding: 0.5em;"><a href="">About</a></li>
            <li style="display: inline; padding: 0.5em;"><a href="">Contact</a></li>
        </ul>
    </div>
</div>

<div id="content" style="overflow: auto;">
    <div id="feature" style="background-color: #efefef; padding: 0.5em; margin: 1%; height: 10em; margin-bottom: 1em;">
        <p>Feature</p>
    </div>
    <div class="article column1" style="background-color: #efefef; width: 31.3%; float: left; margin: 1%; height: 10em; margin-bottom: 1em;">
        <p>Column One</p>
    </div>
    <div class="article column2" style="background-color: #efefef; width: 31.3%; float: left; margin: 1%; height: 10em; margin-bottom: 1em;">
        <p>Column Two</p>
    </div>
    <div class="article column3" style="background-color: #efefef; width: 31.3%; float: left; margin: 1%; margin-right: 0%; height: 10em; margin-bottom: 1em;">
        <p>Column Three</p>
    </div>
</div>

<div id="footer" style="background-color: #efefef; padding: 0.5em 0; margin: 1%;">
    <p>&copy; Copyright 2011</p>
</div>

</body>
</html>